<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HECO</title>
	  <link rel="icon" type="image/png" href="../static/images/favicon.png">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap-4.3.1.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id = "nav"><a class="navbar-brand" href="#">EMME for HECO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search by date, USID..." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
  </nav>
  <div class="container mt-2">
    <div class="row">
      <div class="col-12">
          <div class="jumbotron">
            <h1 class="text-center">Aloha, Welcome to&nbsp;Electric Meter Monitor <em>Extreme</em></h1>
            <div class="row justify-content-center">
              <div class="container mt-4">
				  <div class="row">
					<div class="col-sm-6">
					  <div class="card">
						  {% for name in station %}
						  <h5 class = "card-img-top">{{ name }}</h5>
						  {% endfor %}
						<div class="card-body">
						  <h5 class="card-title">Notifications</h5>
						  <p class="card-text">Real-time</p>
						  <a href="#" class="btn btn-primary">Open in new window</a></div>
					  </div>
					</div>
					<div class="col-sm-6">
					  <div class="card">
						<img class="card-img-top" src="../static/images/600X300.gif" alt="Card image cap">
						<div class="card-body">
						  <h5 class="card-title">Power Graph</h5>
						  <p class="card-text"> Real-time</p>
						  <a href="#" class="btn btn-primary">Open in new window</a></div>
					  </div>
					</div>
				  </div>
			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <hr>
    <div class="container">
    </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 mb-md-0 mb-2">
        <h2>Contact us</h2>
        <address>
        <strong>Solving Hawaii's Challanges</strong><br>
        Mililani Town, Hawaii
        </address>
        <address>
        <abbr title="Phone">P:</abbr> (123) 456-7890<br>
E-M: something@something.com
        </address>
      </div>
<div class="col-lg-4 col-12"> </div>
</div>
</div>
	  </div>
    <hr>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>EMME Special Preview Version 0.5</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.3.1.js"></script>
  </body>
</html>