<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Meter 2</h1>
</head>
<body>
<table style = "width:75%">
        <tr>
          <th>Error</th>
          <th>Amount of Problems</th>
          <th>Link</th>
        </tr>
        <tr>
          <td>Lack of Use</td>
          <td>0</td>
          <td>
            <a href ="lack.html">More Info</a>
          </td>
        </tr>
        <tr>
          <td>Congestion</td>
          <td>0</td>
          <td>
            <a href ="Congestion.html">More Info</a>
          </td>
        </tr>
        <tr>
          <td>Port</td>
          <td>0</td>
          <td>
            <a href ="Port.html">More Info</a>
          </td>
        </tr>
      </table>
</body>
</html>